# Nume si prenume: Afrem Jasmine-Emilia si Bimbirica Andra
# IR3 2026, grupa 2
# config.cfg
# In acest fisier sunt pastrate valorile implicite citite de server la pornire.
# Serverul poate suprascrie aceste valori prin variabile de mediu sau argumente CLI.

# sectiunea principala de configurare pentru server
server: {
    # portul TCP pentru clientii obisnuiti
    port = 18081;

    # portul TCP separat pentru clientul de administrare
    admin_port = 18082;

    # timpul maxim de inactivitate pentru admin, exprimat in secunde
    admin_timeout = 60;
};
